@media screen and (max-width: 1200px){
.desktop {
  display: none !important;
}
.mobile{
  display: contents !important;
}

body {
  background-color: black!important;
  margin: 0;
  padding: 0;
}
/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	        transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}
/* All Pages */
section p {
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
  background-color: black;
}

a {
	text-decoration: none;
	color: white;
}
b {
  font-size: 120%;
}

.logoType h3 {
	font-weight: 300;
	font-size: 2.8em;
}

/* First page */
.imgInbox {
  height: 90%;
  width: 90%;
  position: absolute;
}
.Cbox {
  position: absolute;
  top: 70%;
  left: 9%;
  height: 8%;
  width: 75%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .Cbox h2 {
   /*height: 34px;
   width: 254px;*/
   color: #FFFFFF;
   font-family: Didot!important;
   font-size: calc(2vh + 4vw);
   font-style: italic;
   letter-spacing: calc(0.1vh + 0.7vw);
   line-height: calc(3vh + 4.5vw);
   text-align: center;
   text-transform: uppercase;
}
.header-top {
	background-color: black!important;
  position: absolute;
  top: 0;
  width: 100%;
  height: 17%;
  z-index: 12;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px 2px rgba(0,0,0,0.5);
}
.logoType h1 {
  position: absolute;
  padding: 0;
  margin: 0;
  color: white;
  font-size: calc(2vh + 3vw);
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  letter-spacing: calc(1.5vh + 1vw);
}
.logoType p {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: calc(1vh + 1vw);
  letter-spacing: calc(1vh + 0.5vw);
  color: white;
  margin: 0 auto;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
.mainpage {
  background-image: url("images/thrive_mobil_element/startsida.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.arrow {
  position: absolute;
  width: 20%;
  height: 4.5vh;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
}

/* Second page */
.rubrik {
  width: 100%;
  height: 12vh;
}

.petaText {
  height: 35vh;
  width: 40vw;
  color: #FFFFFF;
  font-family: 'RalewayLight';
  line-height: 3vh;
  text-align: left;
}

.heads {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: black;

}
.Main {
  background-color: black!important;
  background-image: url("images/thrive_mobil_element/concret_wall.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fastF {
width: 100vw;
height: 100vh;
}
/* Slides */
.backhead {
height: 7vh;
background-color: black;
}
.backtips {
width: 100vw;
height: 100vh;
}

.containOne {
  position: relative;
  text-align: center;
}
/**/
.backtips {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.tipsOne {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textOne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textOne h3 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 5vh;
}

.textOne p {
  font-family: Raleway!important;
  font-size: 4vw;
  line-height: 3.5vh;
  text-align: left;
}

/*Second slider css*/

.containTwo {
  position: relative;
  text-align: center;
}


.tipsTwo {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textTwo h3 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 5vh;
}

.textTwo p {
  color: #000000;
  font-family: Raleway!important;
  font-size: 4vw;
  line-height: 3.5vh;
  text-align: left;
}
/*Thrid slider css*/
.containThree {
  position: relative;
  text-align: center;
}


.tipsThree {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textThree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textThree h3 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 5vh;
}

.textThree p {
  color: #000000;
  font-family: Raleway!important;
  font-size: 4vw;
  line-height: 3.5vh;
  text-align: left;
}
/*Fourth slider css*/

.containFour {
  position: relative;
  text-align: center;
}


.tipsFour {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textFour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textFour h3 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 5vh;
}

.textFour p {
  color: #000000;
  font-family: Raleway!important;
  font-size: 4vw;
  line-height: 3.5vh;
  text-align: left;
}


/* Last slider */

.containLast {
  position: relative;
  text-align: center;
}


.tipsLast {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.lastText p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  line-height: 3.5vh;
  text-align: left;
}

.lastText h3 {
  /*margin-bottom: 50px;
  font-weight: bold;*/
  font-size: 5vh;
}


.storeLogo{
  height: 85%;
  width: 85%;
}

.visitStore {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10%;
  margin: 0 auto;
  border: 1px solid #F8C759;
  height: 10%;
  width: 80%;
  background-color: #F8C759;
  cursor: pointer;
}
/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
	width: 10px!important;
	height: 10px!important;
	margin: -4px 0 0 -4px;
  border: 3px solid black!important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
	width: 10px!important;
	height: 10px!important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 10px!important;
	height: 10px!important;
	margin: -8px 0 0 -8px;
	background: black;
	box-sizing: border-box;
	border: 3px solid black;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
  display: flex!important;
  justify-content: center!important;
}
}
