@media screen and (max-width: 1200px){
#desktop {
  display: none!important;
}
#mobile{
  display: contents!important;
}

body {
  background-color: black!important;
  margin: 0;
  padding: 0;
}
/*@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);*/



/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*@font-face {
  font-family: "untitled-font-1";
  font-style: normal;
}*/

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	        transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
  background-color: black;
}

a {
	text-decoration: none;
	color: white;
}



.header-top {
	background-color: black!important;
  position: absolute;
  /*padding: 0 10px;*/
  /*position: fixed;*/
  top: 0;
  width: 100%;
height: 80px;
  z-index: 12;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px 2px rgba(0,0,0,0.5);
}
.logoType h1 {
  position: absolute;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 32px;
  left: 50%;
    transform: translateX(-50%);
  top: 15px;
  letter-spacing: 15px;
}
.logoType p {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: white;
  margin: 0 auto;
  width: 100%;
  top: 54px;
  left: 50%;
    transform: translateX(-50%);
letter-spacing: 8px;

}
.heads {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: black;

}

.rubrik {
  width: 100%;
  height: 12vh;
}

.mainpage {

  background-image: url("images/thrive_mobil_element/startsida.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.Event {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.hidden {
  /*opacity: 0;
  transition: opacity 0.5s linear 0s;
  visibility: hidden;*/
  /*position: absolute;
  top: 60vh;
  left: 8vh;
  color: white;
  font-size: 4em;
  background-color: black;
  padding: 3vh;
  text-align: left;
  height: 30vh;
  width: 70%;
  display: block;
  visibility: visible;
  margin: 0 auto;
}*/

/*.plus {
  visibility: hidden;
  width: 25%;
  height: 10vh;
  margin: 0 auto;
  margin-bottom: 5vh;
}*/

/*.plus:hover + .hidden{
  display: block;
  opacity: 1;
  visibility: visible;
}*/
.arrow {
  width: 25%;
  height: 4vh;
  margin: 0 auto;
  margin-top: 5vh;

}
/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
	text-align: center;


  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}
.Main {
  background-color: black!important;
  background-image: url("images/thrive_mobil_element/concret_wall.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fastF {
/*background-image: url("images/thrive_mobil_element/fuck_fashion_bild.png");
background-repeat: no-repeat;
background-size: contain;*/
width: 100vw;
height: 100vh;
}

.containOne {
  position: relative;
  text-align: center;
}

.backtips {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.tipsOne {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textOne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textOne h3 {
  margin-bottom: 50px;
  font-weight: bold;
}

.textOne p {
  font-family: Raleway;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

  /*Second slider css*/

  .containTwo {
    position: relative;
    text-align: center;
  }


  .tipsTwo {
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }

  .textTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .textTwo h3 {
    margin-bottom: 50px;
    font-weight: bold;
  }

  .textTwo p {
    color: #000000;
    font-family: Raleway;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
}

/*Thrid slider css*/
.containThree {
  position: relative;
  text-align: center;
}


.tipsThree {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textThree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textThree h3 {
  margin-bottom: 50px;
  font-weight: bold;
}

.textThree p {
  color: #000000;
  font-family: Raleway;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

/*Fourth slider css*/

.containFour {
  position: relative;
  text-align: center;
}


.tipsFour {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.textFour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textFour h3 {
  margin-bottom: 50px;
  font-weight: bold;
}

.textFour p {
  color: #000000;
  font-family: Raleway;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

/*Last slider css*/

.containLast {
  position: relative;
  text-align: center;
}


.tipsLast {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.lastText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lastText h3 {
  margin-bottom: 50px;
  font-weight: bold;
}

.lastText p {
  color: #000000;
  font-family: Raleway;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

.Cbox {
  height: 70px;
  width: 315px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 35vh;
}
 .Cbox h2 {
   height: 34px;
   width: 254px;
   color: #FFFFFF;
   font-family: Didot;
   font-size: 28px;
   font-style: italic;
   letter-spacing: 2px;
   line-height: 35px;
   text-align: center;
}

b {
  font-size: 120%;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}
.backhead {
/*width: 100%;*/
height: 7vh;
background-color: black;
}
.backtips {
width: 100vw;
height: 100vh;
}

 .store {
  width: 90%;
  height: 12vh;
  margin: 0 auto;
  margin-top: 65vh;
  position: absolute;
}

.visitStore {
position: absolute;
bottom: 77px;
margin: 0 auto;
border: 1px solid #F8C759;
height: 70px;
width: 315px;
background-color: #F8C759;
}
/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
	width: 10px!important;
	height: 10px!important;
	margin: -4px 0 0 -4px;
  border: 3px solid black!important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
	width: 10px!important;
	height: 10px!important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 10px!important;
	height: 10px!important;
	margin: -8px 0 0 -8px;
	background: black;
	box-sizing: border-box;
	border: 3px solid black;
}

//#24221F

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {

  .logo {
    width: 50%;
  }

  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .logo {
    width: 150%;
  }
}
}
